<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campus Navigation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="login-section">
        <h2>User Signup</h2>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button onclick="signup()">Login</button>
        <div id="sign-up"></div>
    </div>
    
    <script src="/static/app.js"></script>
</body>
</html>
